{{#each posts as |post| }}
  <div class="post-container">
    <h2>
        <div>
            <a href="/post/{{post.id}}">{{post.title}}</a>
        </div>
        <div class="post-meta">
            Posted By {{post.User.username}} on {{format_date post.createdAt}}
        </div>
    </h2>
    <p>{{post.content}}</p>
  </div>
{{/each}}