<div class="post-container">
  <div class="post-container">
    <h2>
        <div>
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="post-meta">
            Posted By {{User.username}} on {{format_date createdAt}}
        </div>
    </h2>
    <p>{{content}}</p>
  </div>
  <form class="form addcomment-form">
    <div class="form-group">
       <input class="form-input" type="text" id="postid" value="{{id}}" disabled/>
       <label for="new-comment">Comment</label><br>
       <input class="form-input" type="text" id="new-comment" />
     </div>
     <div class="form-group">
       <button class="btn btn-primary" type="submit">Submit</button>
     </div>
  </form>
</div>

<script src="/js/comment.js"></script>