<div class="post-container">
  <div class="post-container">
    <h2>
        <div>
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="post-meta">
            Posted By {{User.username}} on {{format_date createdAt}}
        </div>
    </h2>
    <p>{{content}}</p>
  </div>
  <p>
    <button class="btn btn-primary">Leave a comment</button>
  </p>
</div>